<!DOCTYPE html>
<html>

<head>
    <title>Get Some Vitamin D</title>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta charSet="utf-8" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
    <style>
        @media only screen and (max-width: 812px) {
            .container {
                width: 100% !important;
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            .full {
                display: none !important;
            }
            .short {
                display: inline-block !important;
            }
            h4 {
                width: 3em !important;
            }

            .reg {
                display: none !important;
            }
            .small {
                display: inline-block !important;
                width: 30px;
                height: 30px;
            }

            .df-container {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }

            .daily-forecast-li.not-last {
                margin-right: 1px !important;
            }
        }
    </style>
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="container" style="margin: auto; width: 800px;" cellpadding="0" cellspacing="0" border="0">
    <h1 style="font-size:40px;font-style:italic;margin-top:0.67em;margin-bottom:0.67em;">Get Some Vitamin D</h1>

    <div style="margin-bottom: 40px;">
        <p style="margin-top:1em;margin-bottom:1em;">{{user_email}},<br /><br />
            We detected changes to your alert:<span> </span>
            {%- if wknds_only -%}
            <b>{{weath_type.capitalize()}} weather</b> <b>this weekend</b> within {{max_drive_hours|aOrAn}} <b>{{max_drive_hours}} hour</b> drive of <b>{{city_name}}</b>.
            {%- else -%}
            <b>{{weath_type.capitalize()}} weather</b> within {{max_drive_hours|aOrAn}} <b>{{max_drive_hours}} hour</b> drive of <b>{{city_name}}</b>.
            {%- endif -%}
            <span> </span>Check them out below or <a href='{{href}}'>get the most up to date forecasts at Get Some Vitamin D</a>.
        </p>
    </div>

    {%- if cities_gained|length > 0 -%}
    <div style="margin-bottom: 40px;">
        <h2 style="border-bottom:1px solid grey;padding-bottom:15px;margin-bottom:30px;font-size:larger;">New destinations</h2>
        {%- for city_name in cities_gained -%}
            &bull; {{city_name}}<br />
        {%- endfor -%}
    </div>
    {% endif %}

    {%- if cities_lost|length > 0 -%}
    <div style="margin-bottom: 40px;">
        <h2 style="border-bottom:1px solid grey;padding-bottom:15px;margin-bottom:30px;font-size:larger;">Cities lost</h2>
        {%- for city_name in cities_lost -%}
            &bull; {{city_name}}<br />
        {%- endfor -%}
    </div>
    {% endif %}

    <div style="margin-bottom: 40px;">
    {%- if recommendations|length == 0 -%}
        <h2 style="border-bottom:1px solid grey;padding-bottom:15px;margin-bottom:30px;font-size:larger;">Big picture</h2>
        <p>:( currently there are no cities that match your criteria. Rest assured we'll let you know as soon as that changes.</p>
    {%- else -%}
        {%- if recommendations_cutoff -%}
            <h2 style="border-bottom:1px solid grey;padding-bottom:15px;margin-bottom:30px;font-size:larger;">Your {{recommendations|length}} closest destinations</h2>
        {%- elif recommendations|length > 1 -%}
            <h2 style="border-bottom:1px solid grey;padding-bottom:15px;margin-bottom:30px;font-size:larger;">Big picture: {{recommendations|length}} destinations</h2>
        {%- else -%}
            <h2 style="border-bottom:1px solid grey;padding-bottom:15px;margin-bottom:30px;font-size:larger;">Big picture: 1 destination</h2>
        {%- endif -%}
    {%- endif -%}
    {%- for f in recommendations -%}
        <h3 style="margin-top:1em;margin-bottom:1em;">{{f.city.name}} ({{f.driveTimeMinutes|mins_to_hours|friendly_hours}})</h3>
        <table cellpadding="0" cellspacing="0" border="0"><tbody><tr>
            {% for df in f.results %}
                {% if loop.last %}
                <td class='daily-forecast-li last' style="display:inline-block;margin-right:0;" }}>
                {% else %}
                <td class='daily-forecast-li not-last' style="display:inline-block;margin-right:15px;" }}>
                {% endif %}
                    <div class="df-container"
                        {% if df.grayedOut -%}
                        style="padding:10px;border:gray 1px solid;border-radius:10px;text-align:center;color:#9e9e9e;background-color:#eeeeee;"
                        {%- else -%}
                        style="padding:10px;border:gray 1px solid;border-radius:10px;text-align:center"
                        {%- endif -%}
                        ><h4
                            {% if df.recommended -%}
                            style="display:block;padding-top:0;margin-top:0;margin-bottom:10px;text-align:center;width:6em;background-color:#98FB98;border-radius:5px;"
                            {%- else -%}
                            style="display:block;padding-top:0;margin-top:0;margin-bottom:10px;text-align:center;width:6em"
                            {%- endif -%}
                            ><span class="full">{{df.date|weekday}}</span
                            ><span style="display:none" class="short">{{df.date|weekday_short}}</span></h4>
                        <img
                            title="{{df|img_alt}}"
                            alt="{{df|img_alt}}"
                            src="{{df|img}}"
                            style="display:inline-block;width:64px;height:64px"
                            class="icon reg"
                            width="64"
                            height="64"
                        /><img
                            title="{{df|img_alt}}"
                            alt="{{df|img_alt}}"
                            src="{{df|img_small}}"
                            style="display:none"
                            class="icon small"
                            width="30"
                            height="30"
                        /><br/>{{df.maxtemp}}&deg;F</div>
                </td>
            {%- endfor -%}
        </tbody></tr></table>
    {%- endfor -%}
    {%- if recommendations_cutoff -%}
    <p style="margin-top:1em;margin-bottom:1em;"><a href='{{href}}'}>See all {{total_recommendations}} destinations on Get Some Vitamin D</a><p>
    {%- endif -%}
    </div>

    <p style="margin-top:1em;margin-bottom:1em;">- Your friends at Get Some Vitamin D</p>

    <div style="text-align:center;font-size:smaller;margin-top:20px;">
        <a href='{{unsub_href}}'>Unsubscribe from this alert</a> | <a href='{{manage_href}}'}>Manage my alerts</a>
    </div>
    </div>
</body>

</html>
